*{
    margin:0;
    padding:0;
}
.box-model .box1{
    border:15px solid red;
    padding:100px 20px 10px 50px;
    margin: 50px 10px 20px 20px;
    width:100px;
    height: 100px;
    /* outline:10px solid yellow; */
}

.box-model .box2{
    border:10px solid rgb(17, 0, 255);
    padding:10em 2em 1em 50em;
    margin: 5em 1em 2em 2em;
    width:100px;
    height: 100px;
    /* outline:10px solid rgb(241, 54, 3); */
}
p{
    padding:150px 20px 10px 50px; 
}