/* name selector */
p {
    color: blue;
}

/* class selector */
.pred {
    color: red;
}

/* id selector */
#pgreen {
    color: green;
    background-color: rebeccapurple;
}

#pgreen {
    color: yellow;
    background-color: black;
}

.box {
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid red;
    outline: 10px solid yellow;
    text-align: center;
}



.left {
 
    background-color: rgb(23, 23, 22);
    overflow: hidden;
}

.left a {
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 20px 20px;
    float: left;
    font-size: 20px;

}

.right a {
   
    float: right;
    
}

a:hover {
    background-color: rgb(176, 180, 176);
    color: black;

}




.grid-subitem {
    border: 1px solid rgb(255, 106, 0);
}