/* Universal selector */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Semantic Layout */
.grid-container {
    background-color: #D071F9;
    font-family: sans-serif;
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "top top"
        "aside main"
        "footer footer";
}

.header {
    grid-area: header;
    background: #f6f8fa;
    padding: 40px;
}

.header #logo1 {
   border-radius: 50%;
}

.header #logo2 {
    border-radius: 50%;
    margin-right: 40px;
    margin-top: -80px;

}

.header h1 {
    text-align: center;
    margin-top: -90px;
    color: #333333;
}

.header h2 {
    text-align: center;
    margin-top: 10px;
    color: #333333;
}

/* nav  */
.nav {
    grid-area: nav;
    padding: 10px 20px;
    background-color: #333333;
}

.nav a {
    float: left;
    color: antiquewhite;
    padding: 10px;
    text-decoration: none;
}

.nav a:hover {
    background: #D071F9;
    color: antiquewhite;
}

/* Go to Top button */
.top {
    grid-area: top;
    background-color: #333;
    position: sticky;
    left: 1480px;
    top: 20px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    font-size: 14px;
}

.top a {
    color: white;
    text-decoration: none;
}

.top:hover {
    background-color: #1abc9c;
    color: white;
}

/* aside */
.aside {
    grid-area: aside;
    background-color: #D071F9;
    padding: 30px;
    width: 20vw;

}

.aside a {
    padding: 20px;
    line-height: 40px;
    text-decoration: none;
}

/* main */
.main {
    grid-area: main;
    width: 80vw;
    line-height: 40px;
}


/* footer*/
.footer {
    display: flex;
    grid-area: footer;
    background: #333333;
    color: azure;
    grid-area: footer;
    padding: 10px;
    align-items: center;

}

.footer p {
    text-align: center;
}

.footer a {
    padding: 10x;
}

.footer img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}


@media only screen and (max-width: 500px) {
  .header {grid-area: 1 / span 3;}
  .nav {grid-area: 2 / span 3;}
  .top {grid-area: 3 / span 3;}
  .aside {grid-area: 4 / span 1;}
  .main {grid-area: 5 / span 2;}
  .footer {grid-area: 6 / span 3;}
}
