/* Universal selector */
* {
    padding: 0;
    margin: 0;
}

/* Semantic Layout */
body {
    background-color: #D071F9;
    font-family: sans-serif;
    display: grid;
    grid-template-areas:
        "header  header"
        "nav     nav"
        "aside   main"
        "footer  footer";
}

header {
    grid-area: header;
    background: #f6f8fa;
    height: 150px;
}

header #logo1 {
    margin-left: 40px;
    margin-top: 25px;
}

header #logo2 {
    border-radius: 5px;
    margin-right: 40px;
    margin-top: -80px;

}
header h1 {
    text-align: center;
    margin-top: -90px;
    color: #333333;
}

header h2 {
    text-align: center;
     margin-top: 10px; 
    color: #333333;
}

/* nav  */
nav {
    grid-area: nav;
    padding: 20px;
    background-color: #333333;
    height: 15px;
   
}

nav a {
    float: left;
    color: antiquewhite;
    padding: 15px;
    text-decoration: none;
     margin-top: -15px;
}

nav a:hover
 {
    background: #D071F9;
    color: antiquewhite;
}

/* main */
main 
{
    grid-area: main;
    /* margin: 1vh; */
    width: 80vw;
    line-height: 40px;
}

hr 
{
    height: 2px;
    background-color: #333333;
}

details 
{
    background-color: #333333;
    color: antiquewhite;
    padding: 10px;
    font-size: 18px;
}

details:hover 
{
    cursor: pointer;
}

main .top
{
    float: right;
    border-radius: 10px;
    font-size: 14px;
    margin: 10px;
    font-weight: bold;
}

main .top a
{
    text-decoration: none; 
    color: antiquewhite;
}

main .top:hover
{
    background: purple;
}

/* aside */
.aside
{
    grid-area: aside;
    background-color: #D071F9;
    padding: 30px;

}

.aside a
{
    padding: 20px;
    line-height: 40px;
    text-decoration: none;
}

footer 
{
    background: #333333;
    color: azure;
    grid-area: footer;
    padding: 10px;
}

footer p 
{
    text-align: center;
    margin-top: -25px;
}

footer a 
{
    padding: 10x;
}

footer img 
{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

