* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  display: flex; 
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
  align-items: center;
  justify-content:space-between;
}

.header img{
    border-radius: 50%;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: #333333;
}

/* Go to Top button */
.top {
  background-color: #333333;
  position: sticky;
  right: 20px;
  top: 20px;
  padding: 10px;
  border-radius: 50%;
  float: right;
  font-size: 14px;
}

.top a{
     color: white;
     text-decoration: none;
}

.top:hover{
  background-color: #1abc9c;
  color: white;
}

/* Column container */
.row {  
  /* border: 10px solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  /* border: 10px solid green; */
  flex: 30%;
  background-color: #9b9b9b;
  padding: 20px;
}

.side p{
    text-align: justify;
}

/* Main column/right column */
.main {
  /* border: 10px solid blue; */
  flex: 70%;
  background-color: #b9b9b9;
  padding: 20px;
  /* border: 5px solid red; */
}

.main p{
    text-align: justify;
}

/* Footer */
.footer {
  display: flex;
  padding: 10px;
  background: #333333;
  color: white;
  justify-content:center;
}

.footer .footer-logo
{
  justify-content: left;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
  .navbar, .row{   
    flex-direction: column;
  }
}
