/*body 
{
    margin: 0;
    padding: 0;
    background-color: #D071f9;
}*/

.center
{

    margin-top: 70px;
    margin-bottom: 160px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
}

.center h1
{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
}

.form
{
    padding: 15px;
    margin: 0 20px;
    text-align: center;
}

.textfield
{
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: 2px solid #D071f9;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 7px 0;
}

.btn
{
     width: 100%;
     height: 50px;
     background-color: #D071f9;
     border-radius: 5px;
     font-size: 20px;
     margin: 7px 0;
     color: white;
     border: 0;
     cursor: pointer;
}

.btn:hover
{
    background-color: #0a63d8;
}

.forgotpass
{
    font-size: 16px;
    padding: 4px 0;
    margin: 3px;
}

.link
{
    text-decoration: none;
    color: #0a63d8;
}

@media (max-width:470px)
{
    .center
    {
        width: 88%;
    }
}