body {
  font-family: sans-serif;
}

  #header h1 {
    color: red;
    text-align: center;
    margin-top: -80px;

  }

  #header h2 {
    color: red;
    text-align: center;
    margin-top: -20px;
  }

  /*Navigation section CSS */
  #nav {
    background-color: black;
    padding: 20px;
    overflow: hidden;
  }

  #nav a {
    color: white;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
  }

  #nav a:hover {
    background-color: rgb(34, 214, 2);
    color: black;
  }

  #navright {
    float: right;
  }

  /*content section slider CSS*/
  #slider {
    overflow: hidden;
  }

  #slider figure {
    width: 300%;
    display: flex;
    animation: 10s slider infinite;
    position: relative;
  }

  #slider img {
    width: 33.33%;
    height: 100%;
  }

  @keyframes slider {
    0% {
      left: 0;
    }

    30% {
      left: 0;
    }

    33.33% {
      left: -100%;
    }

    60% {
      left: -100%;
    }

    66% {
      left: -200%
    }

    95% {
      left: -200%
    }

    100% {
      left: 0;
    }
  }

  /*Footer CSS*/
  #footertext {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
  }
  #footertext a{
    color: aliceblue;
    
  }

  /* =============================== */
  /* table css */
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
  }

  th,
  td {
    padding: 10px;
  }

  thead {
    color: green;
  }

  tfoot {
    color: red;
  }

  /* ========================================== */

  /* Registration form */
  .regForm {
    background-color: rgb(114, 167, 236);
    padding: 15px;
    display: inline-block;

  }

  .regForm * {
    font-size: large;
  }

  /* ============================================ */

  /* contact */
  .address {
    display: inline-block;
    border: 5px solid rgb(15, 231, 7);
  }

  /* ============================================= */
  summary {
    background-color: #33b5e5;
    color: #ffffff;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    padding: 20px;
  }

  summary:hover {
    background-color: #0099cc;
  }

  /* ===================================== */
  /* totorial CSS */
  #tutorialcss p {
    color: green;
  }

  #tutorialcss #p1 {
    color: red;
    text-align: center;
  }

  #tutorialcss .p1 {
    color: rgb(51, 0, 255);
    text-align: center;
  }