* {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-color: rgb(4, 131, 185);
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}


.headerText{
  color: white;
  text-align: center;
}

/* Navigation bar */
.navbar {
  background: #333;
  padding: 0.5rem 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

/* Dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown menu hidden by default */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #444;
  list-style: none;
  padding: 0.5rem 0;
  display: none;
  min-width: 180px;
}

.dropdown-menu li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
}

.dropdown-menu li a:hover {
  background: #555;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* .nav {
  display: flex;
  background-color: rgb(36, 35, 35);
}

.nav a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgb(2, 182, 140);
} */

/* top button css */
.topBtn{
  background-color: rgb(229, 5, 5);
  padding: 20px;
  position: sticky;
  top:20px;
  right: 20px;
  float: right;
  border-radius: 50%;
}
.topBtn a{
  color: white;
}
/* main content CSS */
.main {
  display: flex;
}

.aside {
  /* display: flex; */
  background-color: lightcoral;
  flex: 25%;
  padding: 20px;
}

.aside .aboutMe{
  display: flex;
  gap: 10px;
  border: 2px solid;
  padding: 10px;
  text-align: justify;
}

.aside .aboutMe img{
  border-radius: 50%;
}

.main .aside img {
  height: 100px;
  width: 100px;
}

.myLinks{
  font-size: 30px;
  line-height: 50px;
}

.main .content {
  background-color: lightseagreen;
  flex: 75%;
  padding: 20px;
}

.main .content img {
  height: 300px;
  width: 600px;
}

/* footer css */
.footer{
  background-color: rgb(42, 41, 41);
  color: white;
  padding: 20px;
}
.footer p{
  text-align: center;
}

/* css for form */
.formCotainer{
  background-color: lightcoral;
  padding: 20px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 500px;
}

.input, .btnSubmit{
  height: 30px;
  width: 100%;
}

.btnSubmit{
  background-color: rgb(42, 41, 41);
  color: white;
}


/* responsive layout */
@media (min-width:200px) and (max-width:768px){
  .nav, .main{
    flex-direction: column;
    text-align: center;
  }


  .header h1,h2{
    font-size: 20px;
  }

  .header img{
    width: 50px;
    height: 50px;
  }
}