/* Universal selector */
* {
    padding: 0;
    margin: 0;
}

/* Semantic Layout */
body {
    font-family: sans-serif;
    display: grid;
    grid-template-areas:
        "header  header"
        "nav     nav"
        "aside   main"
        "footer  footer";
}

p {
    text-align: justify;
}

hr {
    height: 2px;
    background-color: #011d02;
}

details {
    background-color: rgb(145, 232, 174);
    padding: 15px;
}

header {
    grid-area: header;
    background: #f6f8fa;
    height: 150px;
}

header #logo1 {
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

header #logo2 {
    border-radius: 50px;
    margin-right: 20px;
     margin-top: -70px;
 
}

header h2 {
    text-align: center;
    margin-top: -60px;
    color:  #333333;
}

/* nav  */
nav {
    background-color: #333333;
    grid-area: nav;
}

nav a {
    text-decoration: none;
    color: #e5d8c7;
    padding: 20px;
    float: left;
}

nav a:hover {
    background: #1aaf09;
}

/* aside */
aside {
    background: rgb(18, 147, 119);
    grid-area: aside;
    padding: 20px;
    margin: 5px;
    width: 200px;
}

aside li {
    list-style-type: none;

}

aside a {
    color: aliceblue;
    line-height: 40px;
    text-decoration: none;
}

aside a:hover {
    background-color: rgb(3, 44, 46);
}

main {
    grid-area: main;
    margin: 1vh;
    width: 75vw;
    line-height: 40px;

}

footer {
    background: #333333;
    color: azure;
    grid-area: footer;
    padding: 15px;
}

footer p {
    text-align: center;
    margin-top: -20px;
}

footer a{
  padding: 5x;
}
footer img{
  width: 30px;
  height: 30px;
border-radius: 20px;
}

/* ============================================================== */
table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
}

label {
    font-weight: bold;
}


form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text],
input[type=number],
input[type=password],
input[type=email],
input[type=date],
input[type=tel] {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    /* margin: 8px 0; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #61c166;
}

.btn {
    position: sticky;
}

button {
    float: right;
    background-color: #011101;
    padding: 10px;
    border-radius: 20px;

}

button a {
    text-decoration: none;
    color: rgb(235, 233, 229);

}