/* Universal selector */
body {
  font-family: sans-serif;
}
iframe{
  width:100%; 
  height:15em;
  border: 2px solid transparent;
}

/* Header CSS */
#header h1 {
  color: red;
  text-align: center;
  margin-top: -80px;
  text-shadow: 2px 2px 5px blue;

}

#header h2 {
  color: red;
  text-align: center;
}

/*Navigation section CSS  (Common for all HTML, CSS and Javascript Tutorial)*/
#nav {
  background-color: #012f3e;
  padding: 1em;
  overflow: hidden;
}

#nav a {
  color: white;
  padding: 1em;
  font-size: 1em;
  text-decoration: none;
}

#nav a:hover {
  background-color: white;
  color: black;
}

#navright {
  float: right;
}


/*Footer CSS  (Common for all HTML, CSS and Javascript Tutorial)*/
#footer {
  background-color: rgb(18, 18, 18);
  padding: 15px;
  height: 100%;

}

#footer img {
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 20px;

}

#footertext {
  color: white;
  text-align: center;
  margin-top: -30px;
}

#footertext a {
  color: aliceblue;

}

/*Home page slider CSS*/
#slider {
  overflow: hidden;
}

#slider figure {
  width: 300%;
  display: flex;
  position: relative;
  animation: 10s slider infinite;
}

#slider img {
  width: 33.33%;
  height: 100%;
}

@keyframes slider {
  0% {
    left: 0;
  }

  30% {
    left: 0;
  }

  33.33% {
    left: -100%;
  }

  60% {
    left: -100%;
  }

  66% {
    left: -200%
  }

  95% {
    left: -200%
  }

  100% {
    left: 0;
  }
}

/* Marquee CSS */
marquee {
  color: red;
}


/* Common CSS for all HTML, CSS and Javascript Tutorial */
hr{
  padding: 2px;
  background-color: rgb(129, 124, 124);
}
.tutorials-heading img {
  width: 100px;
  height: 100px;

}

.tutorials-heading h2 {
  text-align: center;
  margin-top: -40px;
}

summary {
  background-color: #012f3e;
  color: #ffffff;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  padding: 20px;
}

summary:hover {
  background-color: rgb(248, 48, 48);
 color: black;
}


/* HTML Tutorial */


/* table css */
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 10px;
}

thead {
  color: green;
}

tfoot {
  color: red;
}

/* ========================================== */

/* Registration form */
.regForm {
  background-color: rgb(114, 167, 236);
  padding: 15px;
  display: inline-block;

}

.regForm * {
  font-size: large;
}

/* ============================================ */

/* contact */
.div-container{
  display: flex;
  width: 100%;
  column-gap: 2em;
}
.my-photo p{
text-align: center;  
}
/* ===================================== */



