* {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-color: rgb(4, 131, 185);
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}


.headerText{
  color: white;
  text-align: center;
}

.nav {
  display: flex;
  background-color: rgb(36, 35, 35);
  padding: 10px;
}

.nav a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgb(36, 124, 124);
}

/* top button css */
.topBtn{
  background-color: rgb(229, 5, 5);
  padding: 20px;
  position: sticky;
  top:20px;
  right: 20px;
  float: right;
  border-radius: 50%;
}
.topBtn a{
  color: white;
}
/* main content CSS */
.main {
  display: flex;
}

.main .aside {
  background-color: lightcoral;
  flex: 20%;
  padding: 20px;
}

.main .aside img {
  height: 100px;
  width: 100px;
}

.main .content {
  background-color: lightseagreen;
  flex: 80%;
  padding: 20px;
}

.main .content img {
  height: 300px;
  width: 400px;
}

/* footer css */
.footer{
  background-color: rgb(42, 41, 41);
  color: white;
  padding: 20px;
}
.footer p{
  text-align: center;
}

/* css for form */
.formCotainer{
  background-color: lightcoral;
  padding: 20px;
  margin-left: 50px;
  margin-top: 20px;
  width: 500px;
}

.input, .btnSubmit{
  height: 30px;
  width: 100%;
}


/* responsive layout */
@media (min-width:400px) and (max-width:768px){
  .nav, .main{
    flex-direction: column;
    text-align: center;
  }
}