*{
    /* margin: 0; */
    /* padding: 0; */
}

body {
    background: #500505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.light {
    width: 150px;
    height: 75px;
    background: #b11c1c;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 5em;
    position: relative;

}

.light:before {
    width: 100%;
    height: 40px;
    background: #fdff60;
    content: '';
    position: absolute;
    border: 10px solid #9e0303;
    box-sizing: border-box;
    border-radius: 50%;
    top: -20px;
}

.light:after {
    width: 20px;
    height: 50px;
    /* background: rgb(255,255,255); */
    background:#fff;

    content: '';
    position: absolute;
    left: 42%;
    top: -50px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #eff000,
                0 0 0 10px rgba(255, 255, 255, 0.2);
    filter: blur(5px);
    /* transform-origin: bottom; */
    animation: animate 2s linear infinite;

}

@keyframes animate {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}

h1 {
    color: #fff;
    margin: 0 0 0 20px;
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    border-bottom: 8px solid #fdff60;
}