body {
    /* padding: 0;
    margin: 0; */
}

.box {
    background-color: rgb(31, 4, 148);
    width: 200px;
    height: 200px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    /* transition: linear; */
    /* transition-duration: 0.5s; */
    transition: all 0.5s ease-in;
    display: flex;

}

.box:hover {
    /* background-color: red; */
    border-radius: 50%;
    /* transform:rotate(180deg); */
    /* transform: rotate(45deg); */
    /* transform: rotateX(70deg); */
    /* transform: rotateY(50deg); */
    /* transform: translateX(200px); */
    /* transform: translateY(200px); */
    /* transform: scale(-1); */
    /* transform: skew(-40deg); */
}