body {
    /* padding: 0;
    margin: 0; */
}

.box {
    background-color: rgb(31, 4, 148);
    width: 200px;
    height: 200px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;

    transition: 2s;
    /* display: flex; */

}

.box:hover {
    background-color: red;
    /* border-radius: 50%; */
    /* transform:rotate(180deg); */
    /* transform: rotate(45deg); */
    /* transform: rotateX(70deg); */
    /* transform: rotateY(80deg); */
    /* transform: translateX(200px); */
    /* transform: translateY(-200px); */
    /* transform: scale(3); */
    /* transform: skew(-40deg); */
}