/* Universal selector */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Semantic Layout */
.grid-container {
    /* background-color: #D071F9; */
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "top top"
        "aside main"
        "footer footer";
}

.grid-container>div {
    padding: 10px;
    font-size: 16px;
}

.header {
    grid-area: header;
    background-color: #33b5e5;
    text-align: center;
    color: #ffffff;
}

.header > h1 {
  font-size: 40px;
}

.header>img {
    border-radius: 50%;
}


/* nav  */
.nav {
    grid-area: nav;
    background-color: #333333;
}

.nav a {
    float: left;
    color: antiquewhite;
    padding: 10px;
    text-decoration: none;
}

.nav a:hover {
     background-color: #33b5e5;
    color: antiquewhite;
}

/* Go to Top button */
.top {
    grid-area: top;
    background-color: #333;
    position: sticky;
    left: 1480px;
    top: 20px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    font-size: 14px;
}

.top a {
    color: white;
    text-decoration: none;
}

.top:hover {
    background-color: #1abc9c;
    color: white;
}

/* aside */
.aside {
    grid-area: aside;
}

.aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.aside li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
}

.aside a{
    text-decoration: none;
    color: #ffffff;
}

.aside li:hover {
  background-color: #0099cc;
}

/* main */
.main {
    grid-area: main;
}

.main > h1 {
  font-size: 30px;
  margin-bottom: 7px;
}

.main > p {
  margin-bottom: 7px;
  text-align: justify;
}

/* footer*/
.footer {
  grid-area: footer;
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
}

.footer p {
    text-align: center;
}

.footer a {
    padding: 10x;
}

.footer img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}