body{
    background-color: hsl(10,80%,100%);
    /* background-image:url("img/image1.jpg"); */
}

h1{
    font-size: 100px;
    color: rgb(255, 100, 50);
}

#id1{
  color: #ff9922;
}

.c1{
  color: navy;
  font-family: sans-serif;
  text-transform: uppercase;
}

input[type="submit"]:hover
{
background-color: green;
}






