.box{
    margin:100px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(16, 2, 77);
    transition-duration: 0.5s;
    /* transition-property: border-radius, background-color, transform; */
    transition-property: all;
    transition-delay: 0.2s;
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: linear; */
    /* transition-timing-function: cubic-bezier(0.7, 0.3, 0.6,3.2); */
}
.box:hover{
    background-color: red;
    border-radius: 50%;
    transform:rotate(180deg);
}

.list{
    display: flex;
    gap: 20px;
    list-style: none;
}
.item{
    font-size: 2em;
    padding: 10px 16px;
    transition: 0.3s ease-in;
}

.item:hover{
    cursor: pointer;
    background-color: black;
    color:white;
    /* transition: 0.3s ease-in; */
    transform: translateY(-20px);
}